@page "/"
@using MudBlazor

<MudText>Welcome to Pulse</MudText>
<div class="mb-6">
    <p>Create real-time pulse questions for your students</p>
</div>

<MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/instructor/create-question" Size="Size.Large">
    Create New Question
</MudButton>
